* {
  box-sizing: border-box;
}

html {
  font-family: Raleway, sans-serif;
  color: black;
}

body {
  background: url("./assets/city.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  position: relative;
}

#app {
  
  font-size: 3rem;
  height: 100vh;
  width: 100vw;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  z-index: 1; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_container,.contact_container {
  padding-top: 3rem;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(135, 206, 250, 0.9);
  z-index: 0;
}

h1{
  font-size: 3rem;
  font-weight: 400;
  /* margin-bottom: 1rem; */
  text-transform: uppercase;
  text-align: center;
}

h2{
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h3{
  font-size: 1.5rem;
  font-weight: 15;
  margin-bottom: 1rem;
  text-align: center center;
}

h4{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h5,h6{
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: 1rem;
  /* text-transform: lowercase; */
  text-align: center center;
}

/* .logo{
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;

} */

header{
  top:0;
  padding-bottom: 10rem;
  width: 100%;
  justify-content: flex-start;
}

.contact_container{
 display: none;
 margin: 0 0.5rem;
 animation: fadeInDown; 
 animation-duration: 2s;
}

.title_container{
  display: flex;
 margin: 0 0.5rem;
 animation: fadeInDown; 
 animation-duration: 2s;
}

.btn{
  background: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.btn:hover{
  /* transform: scale(1.25) rotate(0deg); */
  animation: fadeIn; 
  animation-duration: 3s;
}

button{
  background: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

button:hover{
  animation: fadeIn; 
  animation-duration: 3s;
}


/* button:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
} */


img{
  width: 10vw;
  height: auto;
  margin-bottom: 1rem;
}


footer{
  width: 95vw;
  padding-top: 5px;
  color:black;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom:1rem;
  border-top:1px solid black;
  text-align: center;
}
